{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron py-4">
            <h1 class="display-3">{{ article.title }}</h1>
            <img style="height: 40vh; width: 100%;" src="{{ article.image }}">
            <hr class="my-4">
            {{ article.contenu|raw }}
            <p>Ecrit par {{ article.auteur.nom }} {{ article.auteur.prenom }}, le : {{ article.createdAt|date('d M Y à h:i') }}</p>
        </div>

        <div class="jumbotron">
            <h4>Le débat aura lieu du 22 Déc au 24 Déc</h4>
            <br>
            <div class="row">
                <div class="col">
                    <p>Utilisateurs inscrits :</p>
                    <ul>
                        <li>Jeremy-Farid</li>
                        <li>Vincent-François</li>
                        <li>Et Bob</li>
                    </ul>
                </div>
                <div class="col">
                    <p>Il reste : <br> <span class="h2">4</span> places</p>
                </div>
                <div class="col"><a class="btn btn-primary btn-lg d-block my-auto" href="#" role="button">Participer au débat !</a>
                </div>
            </div>
        </div>

        <h1>Place du débat</h1>
        <br>
        <div class="row">
            <div class="col-9">
                <div class="card text-white bg-secondary mb-3" style="max-width: 100%;">
                    <div class="card-header">Jean-Karim <span class="float-right">le 32 avril a 20:35</span></div>
                    <div class="card-body">
                        <p class="card-text">Ouech bien ? la famille ? les affaires, toussa toussa ?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <div class="card text-white bg-secondary mb-3" style="max-width: 100%;">
                    <div class="card-header">Jean-Karim <span class="float-right">le 32 avril a 20:35</span></div>
                    <div class="card-body">
                        <p class="card-text">Ouech bien ? la famille ? les affaires, toussa toussa ?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-9">
                <div class="card text-white bg-success mb-3" style="max-width: 100%;">
                    <div class="card-header">Jean-Karim <span class="float-right">le 32 avril a 20:35</span></div>
                    <div class="card-body">
                        <p class="card-text">Ouech bien ? la famille ? les affaires, toussa toussa ?</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% for reaction in article.reactions %}
        {{ reaction.contenu | raw }}
        {% endfor %}
        <br>
        <div>
            {{ form_start(reactionForm) }}
            {{ form_end(reactionForm) }}
        </div>
    </div>
{% endblock %}
