{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block stysheets %} <link rel="stylesheet" href="{{ asset('assets/css/Crud.css') }}"> {% endblock %}

{% block body %}

<div class="container">
    <div class="card text-white mx-auto">
        <div class="card-body">

            {{ form_start(form) }}

                {{ form_row (form.title, {'attr': {'placeholder': "Titre de votre article"}}) }}
                {{ form_row (form.ville, {'attr': {'placeholder': "Ville consernée par votre aticle"}}) }}

                <div class="row">
                    <div class="col">
                        {{ form_row (form.theme, {'attr': {'placeholder': "Selectionnez le thême de votre article"}}) }}

                    </div>
                    <div class="col">
                        {{ form_row (form.support, {'attr': {'placeholder': "Selelctionnez le support de votre article"}}) }}
                    </div>
                </div>

                {{ form_row (form.contenu, {'attr': {'placeholder': "Votre article ici"}}) }}

                <div class="row">
                    <div class="col">
                        {{ form_row (form.image, {'attr': {'placeholder': "Ajoutez l'url de image de couverture à votre article"}}) }}

                    </div>
                    <div class="col">
                        {{ form_row (form.motCle, {'attr': {'placeholder': "Le  ou les mots-clés de votre article"}}) }}
                    </div>
                </div>

                <button class="btn btn-secondary col-3 m-md-5 float-right">{{ button_label|default('Sauvegarder') }}</button>

            {{ form_end(form) }}

            <div class="row">
            {% if delete is defined %}
                {{ include('article/_delete_form.html.twig') }}
            {% endif %}
            </div>

        </div>
    </div>
</div>

{% endblock %}
